{% load static %}
<html lang="">
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url({% static 'hm/images/demo/backgrounds/tyre.jpg' %});">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">

      <div class="fl_right">
        <ul class="nospace">

          <li id="searchform">
            <div>
              <form action="{% url 'search' %}" method="get">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter item name to be search " name="q">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1 style="color:orange;"><a href="/">GD STORE</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
           <li><a class="active" href="{% url 'CartDetails' %}">Cart</a>
          <li><a class="active" href="accounts/register">Register</a>
           <li><a class="active" href="accounts/login">Login</a>
           <li><a class="active" href="/">Logout</a>

          </li>

        </ul>
      </nav>
    </header>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>

